<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="hub_url" value="" />
    <add key="hub_username" value="" />
    <add key="hub_password" value="" />
    <add key="packages_repo_url" value="https://api.nuget.org/v3/index.json" />
    <!-- Proxy Settings-->
    <add key="hub_proxy_host" value="" />
    <add key="hub_proxy_port" value="" />
    <add key="hub_proxy_username" value="" />
    <add key="hub_proxy_password" value="" />
    <!-- Optional Parameters-->
    <add key="hub_project_name" value="" />
    <add key="hub_version_name" value="" />
    <add key="hub_timeout" value="120" />
    <add key="hub_scan_timeout" value="300" />
    <add key="hub_output_directory" value="" />
    <add key="excluded_modules" value="" />
    <add key="hub_ignore_failure" value="false" />
    <add key="hub_create_flat_list" value="false" />
    <add key="hub_create_bdio" value="true" />
    <add key="hub_deploy_bdio" value="true" />
    <add key="hub_create_report" value="false" />
    <add key="hub_check_policies" value="false" />
    <add key="hub_code_location_name" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="integration-bdio.NET" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.0.5.0" newVersion="0.0.5.0"/>
        <codeBase version="0.0.5.0" href="..\..\integration-bdio.NET.0.0.5\lib\net452\integration-bdio.NET.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
        <codeBase version="2.1.0.0" href="..\..\Microsoft.Web.Xdt.2.1.1\lib\net40\Microsoft.Web.XmlTransform.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assmeblyIdentity name="Mono.HttpUtility" culture="neutral"/>
          <codeBase version="1.0.0.0" href="..\..\Mono.HttpUtility.1.0.0.1\lib\net40\Mono.HttpUtility.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assmeblyIdentity name="Mono.Options" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\Mono.Options.4.4.0.0\lib\net4-client\Mono.Options.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        <codeBase version="10.0.0.0" href="..\..\Newtonsoft.Json.10.0.1\lib\net45\Newtonsoft.Json.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Client" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Client.4.0.0\lib\net45\NuGet.Client.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Commands" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Commands.4.0.0\lib\net45\NuGet.Commands.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Common" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Common.4.0.0\lib\net45\NuGet.Common.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Configuration" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Configuration.4.0.0\lib\net45\NuGet.Configuration.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.ContentModel" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.ContentModel.4.0.0\lib\net45\NuGet.ContentModel.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.832"  newVersion="2.14.0.832"/>
        <codeBase version="2.14.0.832" href="..\..\NuGet.Core.2.14.0\lib\net40-Client\NuGet.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.DependencyResolver" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0"  newVersion="3.5.0.0"/>
        <codeBase version="3.5.0.0" href="..\..\NuGet.DependencyResolver.3.5.0\lib\net45\NuGet.DependencyResolver.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.DependencyResolver.Core" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.DependencyResolver.Core.4.0.0\lib\net45\NuGet.DependencyResolver.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Frameworks.4.0.0\lib\net45\NuGet.Frameworks.dll"/>
      </dependentAssembly>
      <dependentAssembly>
      <assemblyIdentity name="NuGet.LibraryModel" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.LibraryModel.4.0.0\lib\net45\NuGet.LibraryModel.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.PackageManagement" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.PackageManagement.4.0.0\lib\net45\NuGet.PackageManagement.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Packaging.4.0.0\lib\net45\NuGet.Packaging.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging.Core" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Packaging.Core.4.0.0\lib\net45\NuGet.Packaging.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging.Core.Types" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Packaging.Core.Types.4.0.0\lib\net45\NuGet.Packaging.Core.Types.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.ProjectManagement" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.ProjectManagement.4.0.0\lib\net45\NuGet.ProjectManagement.dll"/>
      </dependentAssembly>
      <dependentAssembly>
      <assemblyIdentity name="NuGet.ProjectModel" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.ProjectModel.4.0.0\lib\net45\NuGet.ProjectModel.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Protocol.Core.Types" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
        <codeBase version="4.0.0.0" href="..\..\NuGet.Protocol.Core.Types.4.0.0\lib\net45\Nuget.Protocol.Core.Types.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Protocol.Core.v2" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0"  newVersion="3.5.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Protocol.Core.v2.3.5.0\lib\net45\NuGet.Protocol.Core.v2.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Protocol.Core.v3" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Protocol.Core.v3.4.0.0\lib\net45\NuGet.Protocol.Core.v3.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Repositories" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Repositories.4.0.0\lib\net45\NuGet.Repositories.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Resolver" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Resolver.4.0.0\lib\net45\NuGet.Resolver.dll"/>      
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.RuntimeModel" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.RuntimeModel.4.0.0\lib\net45\NuGet.RuntimeModel.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Versioning" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"  newVersion="4.0.0.0"/>
        <codeBase version="4.0.0.0" href="..\..\NuGet.Versioning.4.0.0\lib\net45\NuGet.Versioning.dll"/>
      </dependentAssembly>  
    </assemblyBinding>
  </runtime>
</configuration>